* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(10, 5, 44);
    color:white;

}

html {
    font-family: sans-serif;
}

body {
    font-family: sans-serif;
}

.content-1 {
    max-width: 900px;
    margin: 0 auto;
}

.h-1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color:greenyellow;
}

.h-1 h2 {
    font-size: 40px;
    font-weight: lighter;
    color:greenyellow;
    
}

.h-1 h4 {
    font-size: 25px;
    font-weight: lighter;
    color:greenyellow;
}

.Karan-image {
    border-radius: 50%;
    overflow: hidden;
}

.Karan-image,
img {
    height: 320px;
    width: 300px;


}

.context {
    margin-top: 80px;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.context h3 {
    font-size: 40px;
    font-weight: lighter;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color:greenyellow;
}

.context p {
    margin-top: 30px;
    font-size: 20px;
}

.awards {
    margin-top: 50px;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.awards h3 {
    font-weight: lighter;
    font-size: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color:greenyellow;
}

.awards p {
    font-size: 20px;
    margin-top: 20px;
}

.footer-thing {
    margin-top: 50px;
    letter-spacing: 1.2px;
    line-height: 30px;
    font-size: 30px;
}

.footer-thing p {
    text-align: end;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
    color:greenyellow;
}